.woocommerce {
    div {
        &.product {
            margin-top: 3em;

            .product_title {
                border-bottom: $accent solid 2px;
                color: $white;
                font-size: 2em;
                font-weight: 600;
                line-height: 1;
                margin-bottom: 0.5em;
                padding-bottom: 0.5em;
            }

            .woocommerce-product-details__short-description {
                color: $white;

                h4 {
                  margin-bottom: 1em;
                }

                p {
                    color: $white;
                }

                ul {

                  li {
                    margin-bottom: .5em;

                    &:before {
                      content: "\f111";
                      @include fa-outline;
                      font-size: .7em;
                      color: $accent;
                      margin-right: .5em;
                    }
                  }
                }
            }

            div.images,
            div.summary {
                width: 100%;
            }

            div.summary {
                justify-content: center;
            }

            .posted_in {
                color: $white;

                a {
                    color: $accent !important;
                }
            }
        }
    }

    .button.button.alt {
        background-color: $accent;
        font-weight: 400;
        min-width: 200px;
        color: #fff !important;

        &:hover {
            background-color: darken($accent, 10%);
        }
    }

    .entry-content td {
        border-right: 0 !important;
    }

    a.button {
        font-weight: normal;
    }
}

.woocommerce-tabs {
    ul.tabs,
    h2 {
        display: none;
    }
}

.woocommerce-checkout #payment, .woocommerce-checkout-payment {
    background: #fff;
}

.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
    float: left;
}

.woocommerce-Price-amount.amount {
    display: none;
}

.woocommerce-cart table.cart img {
    width: 100%;
    max-width: 300px;
}

.woocommerce-page .cart-collaterals .cart_totals {
    h2,
    table {
        display: none;
    }
}

.woocommerce #content table.cart td.actions, .woocommerce table.cart td.actions, .woocommerce-page #content table.cart td.actions, .woocommerce-page table.cart td.actions {
    background: $white;
}

.woocommerce table.shop_table td {
    border-right: 0;
}

.woocommerce-cart-form__cart-item {
    .product-thumbnail {
        img {
            box-shadow: $box-shadow !important;
        }
    }

    .product-name {
        font-size: 1.5em;
        font-weight: bold;
        padding-top: 2em !important;
        width: 50%;
        vertical-align: top !important;
    }
}
