/* Typography
--------------------------*/

/* Primary */

/* Primary - Background Color  */

#searchform input[type="search"], #searchform #searchsubmit, .primary-btn, input[type="submit"], .nf-field-element input[type=button] {background-color:#4b89c0 !important;}

/* Primary - Color  */

.featured-content h1 {color:#4b89c0 !important;}

.hero--text p {border-right-color:#4b89c0 !important;}

/* Primary - Background */
.highlight {background:#4b89c0 !important;}

/* Primary - Shadow */

.single article .thumbnail img {
      -webkit-box-shadow: 5px 5px #4b89c0 !important;
      box-shadow: 5px 5px #4b89c0 !important;
      border: 1px solid #4b89c0 !important; }


/* Primary Medium */

.primary-btn:hover, .comment-reply-link:hover, #submit:hover, .primary-btn:focus, .comment-reply-link:focus, #submit:focus, input[type="submit"]:hover, input[type="submit"]:focus, .nf-field-element input[type=button]:hover, .nf-field-element input[type=button]:focus { background-color: #285c8a !important; }

body.site a:active, .featured-content__header h1 {color:#285c8a !important;}

.footer {background-color:#285c8a !important; }

/* Primary Dark - Color */

body.site a, .hero--hero-text {color:#0d3457 !important;}

.featured-content h1, .hero--text p {background-color:#0d3457 !important;}

/* Accent */

.woocommerce div.product .product_title {border-bottom-color:#ef6826 !important;}

.woocommerce .button.button.alt {background-color:#ef6826 !important;}

/* Text */

body.site  {
  color:#181b1f !important;
}

/* Primary - Light */

.footer-nav li a, .footer .social_platforms a, .hero--inner .hero--hero-text {color:#b0daff !important;}

/* White */
#wpadminbar a {color: white !important;}
input[type="search"]:focus {background-color:white !important;}
