// NAVIGATION STYLES

#inner-header {
    align-items: center;
    justify-content: center;

    .header-nav {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .logo {
        margin: 0;
        display: flex;
        justify-content: center;

        img {
            max-width: 450px;
            padding: 1rem 0;
            width: auto;
        }
    }
}

#mobile-nav {
    display: none;
}

.nav {
    flex-direction: row;
    height: auto;
    opacity: 1;
    justify-content: flex-end;

    li {
        border-bottom: 0;
    }
}

.mobile-hide {
    display: inline-block;
}

// .menu is clearfixed inside mixins.scss
.menu {
    ul {
        li {
            text-align: left;

            // a {
                // &:hover, &:focus {}
            // }

            // &:first-child {}

            // &:last-child {}

            // plan your menus and drop-downs wisely.
            //ul.sub-menu,
            //ul.children {
            //    li {
            //        a {
            //            &:hover,
            //            &:focus {}
            //
            //            &:link {}
            //        }
            //
            //        &:first-child {}
            //
            //        &:last-child {}
            //    }
            //}
        } // end .menu ul li 

        // highlight current page 
        //li.current-menu-item,
        //li.current_page_item,
        //li.current_page_ancestor {
            //a {}
        //} // end current highlighters 
    } // end .menu ul 
} // end .menu 

.executive_summary {
    .content {
        flex-direction: row;
    }
}


#searchform {
    display: flex;

    input[type="search"] {
        margin-bottom: 0;
        border-radius: 20px 0 0 20px;
        padding: 0 1em;
        height: 0;
        background-color: $primary;
        border: 0;
        height: 30px;
        color: $white;

        &:focus {
            background-color: $white;
            color: gray;
        }
    }

    #searchsubmit {
        border: 0;
        background: transparent;
        position: relative;
        background-color: $primary;
        height: 30px;
        border-radius: 0 20px 20px 0;
        padding-right: 1em;
        color: $white;
    }
}

// POSTS & CONTENT STYLES

.overlay {
    @include hero-height;
}

.content_section {
    &--content_left {
        .content_section--content {
            text-align: left;
        }
    }

    &--content_center {
        .content_section--content {
            text-align: center;
        }
    }

    &--content_right {
        .content_section--content {
            text-align: right;
        }
    }
}

// entry content
.entry-content {
    .alignleft, img.alignleft {
        margin-right: 1.5em;
        display: inline;
        float: left;
    }

    .alignright, img.alignright {
        margin-left: 1.5em;
        display: inline;
        float: right;
    }

    .aligncenter, img.aligncenter {
        margin-right: auto;
        margin-left: auto;
        display: block;
        clear: both;
    }
} // end .entry-content

// FOOTER STYLES

// #inner-footer {
//     .footer {
//         &_logo {
//             img {}
//         }
//     }
// }
// 
// .footer-links {
//     ul {
//         li {}
//     }
// }
